body.landing {
    background-image: url('/img/markus-spiske-cvBBO4PzWPg-unsplash.jpg')

}



/* .container {
    margin-top: 25vh !important;
} */

/* .aboutpage {
    margin-top: 25vh;
} */
.main {
    border-radius: 20px;
}

a:link, a:visited {
    text-decoration: none !important;
}

.about {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}
.about-img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 10px;
}

.about-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

img {
    width: 405px;
    height: 200px;
}

@media only screen and (max-width: 320px) {
   img{
        width: 247px;
   }
}

@media only screen and (max-width: 375px) {
    img{
         width: 301px;
    }
 }

 @media only screen and (max-width: 425px) {
    img{
         width: 351px;
    }
 }

 @media only screen and (max-width: 1024px) {
    img{
         width: 247px;
    }
 }